

.row {
   display: flex;
   
}

.square {
    width: 15px;
    height: 15px;
    border: 1px solid rgb(219, 16, 16);
}

.hovered {
    background-color: black;
}

.btn {
    width: 40px;
    height: 40px;
}