body {
    background-color: #dedede;
    /* display: flex; */
    /* flex-direction: column; */
    /* margin: 0; */
    /* padding: 0; */
    /* display: flex;
    flex-direction: column; */
}

.style-wrapper {
    margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 50px;
}

.btn-wrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 16px;
}

.btn {
    width: 4.8rem;
    height: 3rem;
    border: transparent;
    background-color: #d7d6d6;;
    color: #000000;
    font-size: 25px;
    box-shadow: 5px 5px rgb(0, 0, 0);
    border-radius: 3px;
} 
.btn:hover {
    background-color: rgb(142, 142, 142);
}

.btn-hover {
    background-color: rgb(142, 142, 142);
}

.container {
    display: flex;
    background-color:cornsilk;
    flex-wrap: wrap;
    box-shadow: 10px 10px rgb(0, 0, 0);
    margin-top: 25px;
    border-radius: 9px;
}


.square {
    border: 1px solid black;
    color: #f2ecec;
} 
.square2 {
    color: #f2ecec;
}

.hovered {
    background-color: black;
}

p {
    color: rgb(0, 0, 0);
    margin-top: 2rem;
}